<div class="login">
    <div class="item">
        <p>Email</p>
        <input type="text" name="email" [(ngModel)]="model.email">
    </div>
    <div class="item">
        <p>Password</p>
        <input type="password" name="password" [(ngModel)]="model.password">
    </div>
    <div class="item">
        <p>Confirm password</p>
        <input type="password" name="password1" [(ngModel)]="model.password1">
    </div>
    <button (click)="onSubmit()">REGISTER</button>
    <div class="change" routerLink="/login">LOGIN</div>
</div>