.toy {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
}
.toy-card {
    padding: 1rem;
    display: grid;
    justify-content: center;
    border: 1px solid #f0f0f0;
    cursor: pointer;
}
.tc_img {
    width: 200px;

}
.tc_img img {
    min-width: 100%;
    min-height: 100%;
}