<div class="admin">
    <div class="item">
        <p>Name</p>
        <input type="text" name="name" [(ngModel)]="toy.name">
    </div>
    <div class="item">
        <p>IMGURL</p>
        <input type="text" name="image" [(ngModel)]="toy.image">
    </div>
    <div class="item">
        <p>Description</p>
        <textarea name="" id="" cols="30" rows="10" name="description" [(ngModel)]="toy.description"></textarea>
    </div>
    <div class="item">
        <p>Price</p>
        <input type="text" name="price" [(ngModel)]="toy.price">
    </div>
    <div class="item">
        <p>Category</p>
        <input type="text" name="category" [(ngModel)]="toy.category">
    </div>
    <button (click)="onCreate()">ADD NEW TOY</button>
</div>