.admin {
    display: grid;
    align-items: center;
    grid-gap: 1rem;
}
.item {
    display: grid;
}
p {
    margin: 0;
    font-size: 14px;
}
button {
    padding: 10px 3rem;
    display: grid;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: rgb(17, 195, 207);
}